.product-container img {
  opacity: 1;
}

.product-container img:hover {
  opacity: 0.8;
}

.starter {
  padding: 40px 15px;
  text-align: center;
}

.col-md-3 {
  text-align: center;
}

a:hover {
  text-decoration: none;
}

.left-bar {
  height: 100%;
}

#navbar-right {
}
